<p><img src='https://company-profile-images.s3.amazonaws.com/images/876788/1187152/logo/banorte-logo.png' /></p>

<h4><%= t("conekta.banorte.payment_title") %></h4>

<div id='conekta_banorte'>
    <p><%= t('spree.order_number', number: @order.number) %></p>
    <p><%= raw t('conekta.banorte.payment_message') %></p>
    <p>
      <b><%= t('conekta.banorte.service_number') %>: </b>
      <%= @order_details['payment_method']['service_number'] %>
    </p>
    <p>
      <b><%= t('conekta.banorte.reference') %>: </b>
      <%= @order_details['payment_method']['reference'] %>
    </p>
    <p>
        <b><%= t('conekta.total') %></b>
        <% if @order.currency != 'MXN' %>
          <%= Spree::Conekta::Exchange.new(@order.total, @order.currency).amount_exchanged  %> MXN
        <% else %>
          <%= @order.display_total.to_html%>
        <% end%>
    </p>
</div>
