<p><img src='https://s3.amazonaws.com/pagalo/oxxo_logo.png' width="100px" /></p>

<h4><%= t("conekta.oxxo.payment_title") %></h4>

<div id='conekta_oxxo'>
    <p><%= t('spree.order_number', number: @order.number) %></p>
    <p><%= raw t('conekta.oxxo.payment_message') %></p>
    <p><%= image_tag(@order_details['payment_method']['barcode_url']) %></p>
    <p><%= @order_details['payment_method']['barcode'] %></p>
    <p>
        <b><%= t('conekta.total') %></b>
        <% if @order.currency != 'MXN' %>
          <%= Spree::Conekta::Exchange.new(@order.total, @order.currency).amount_exchanged  %> MXN
        <% else %>
          <%= @order.display_total.to_html%>
        <% end%>
    </p>
</div>
