<p><img src='http://ccolon.org.mx/wp-content/uploads/2015/11/header.png' /></p>

<h4><%= t("conekta.spei.payment_title") %></h4>

<div id='conekta_spei'>
    <p><%= t('spree.order_number', number: @order.number) %></p>
    <p><%= raw t('conekta.spei.payment_message') %></p>
    <p>
      <b><%= t('conekta.spei.clabe') %>: </b>
      <%= @order_details['payment_method']['receiving_account_number'] %>
    </p>
    <p>
        <b><%= t('conekta.total') %></b>
        <% if @order.currency != 'MXN' %>
          <%= Spree::Conekta::Exchange.new(@order.total, @order.currency).amount_exchanged  %> MXN
        <% else %>
          <%= @order.display_total.to_html%>
        <% end%>
    </p>
</div>
